<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServer" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55269/ServerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServer"
                contract="ServiceReference.IServer" name="WSHttpBinding_IServer">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>